h1{
   text-align : center;
   font-weight: bold;
   text-shadow: 2px 1.5px   lightblue
 }
 body{
   height:auto;
 }
.aboutus{
  margin-top: 12vh;
  color:black;
  padding: 10px;
}
.aboutus h4{
  text-shadow: 2px 2px  white
}
.card{
  background-color:white;
  padding:1%;
  margin:10px;
  box-shadow:0px 0px 2px 2px black;
  border-radius: 10px;
  transition:.5s;
  color:black
}

.aboutUs-card:hover{
  transform: scale(1.05);
}

@media(max-width:768px){
  .aboutus{
    font-size:12px;
  }
}

.aboutUs-card img{
  width: 300px;
  height:200px;
}

.people-main{
  display:inline-block;
}

.people-wraper{
  text-align: center;
}
