.slot-book label{
    display:inline-block;
    width:20%;
    font-weight: bold;
    text-align: left;
}
.holder{
    width:180px;
    border:1px black solid;
    justify-content: center;
    margin-left:60%
}
#solo {
    background:coral;
    padding:3px;
    margin:5px;
    color:white;
    font-size:17px;
    border-radius: 10px;;
    border:1px solid black;
    font-weight: bold;
    width:120px;
}

.shift .menuClassName{
    width:30%;
    margin-right:35%;
    font-size:13px;
    margin-left:35%;
}
.slot-book input{
    margin-left:10px;
    padding:5px;
    width:180px;
    background:transparent;
    color:black;
    border:1px solid black;
}

#solo:hover{
    transition:0.1s;
    transform:scale(1.07);
}
.dropdown label{
    text-align: center;
}
.shift .controlClassName{
    font-weight: bold;
    width:30%;
    margin-right:35%;
    margin-left:35%;
    font-size:13px;
    box-shadow: 0vh 0vh .5vh .5vh grey;
}
.slot-book .shift label{
    text-align: center;
}
.color.color {
   width:30%;
   background: black;
   color:white;
    font-weight:bold;
}
.color{
    width:30%;
    margin-right:100%;
    font-size:15px;
    text-align: center;
}
.sc-bxivhb {
    margin-left:35%;
    margin-right:35%;
}
