.forgot input{
    width:20%;
    padding:10px;
    height:auto;
    background: transparent;
    border:1px solid black
}
.forgot button{
    padding:8px;
    font-size:12px;
    background-color:black;
    color:white;
    font-weight: bold;
}
.forgot button:hover{
    cursor:pointer
}
.forgot label{
    display:inline-block;
    width:120px;
    text-align: left;
    font-weight: bold;
}