
.patient-history-search {
  margin: 10px;
  padding: 5px;
}

.centered {
  display: flex;
  margin-left:20%;
  justify-content: center;
}

.patient-history-search input {
  margin: 10px;
  padding: 10px;
  width: 600px;
}

.patient-history-search button {
  padding: 10px;
  background-color: blue;
  color: azure;
}
.heads,.rec-individual{
  width:80%;
  display:flex;
  justify-content: space-evenly;
  margin:5px;
  padding:5px;
  margin-left:20%;   
}
.rec-individual div,.heads div{
  justify-content: center;
  width:20%;
}
.heads{
  margin-top:2%;
}
.rec-individual:hover{
  box-shadow: 0vh 0vh 0.5vh 0.5vh coral;
}
