.details{
    display: flex;
    width:70%;
    justify-content: space-around;
    margin-left:25%;
    padding:5px;
    margin-top:2px;
}
.fir-details div,.details div{
    width:20%;
}
.fir-details{
    display: flex;
    width:70%;
    justify-content: space-around;
    margin-left:25%;
    padding:5px;
    margin-top:2px;
}
.individual-appoint .details{
    margin-left:24.5%;
}
.details:hover{
    box-shadow: 0vh 0vh 1vh 0.5vh coral;
}

/* .box{
    border:1px solid black
} */
.color.color {
    width:20%;
    background: white;
    color:black;
    text-shadow: none;
     font-weight:bold;
 }
 .color{
     width:20%;
     margin-right:100%;
     font-size:15px;
     text-align: center;
 }
 .sc-bxivhb {
     margin-left:40%;
     margin-right:40%;
 }

 .cal {
     font-weight:bold;
     clear:both;
     margin-left:10%
 }
.details button{
    padding:5px;
    background-color:coral;
    font-weight: bold;
    color:white;
    text-shadow:1px 1px black;
    border-radius:50%
}
.details button:hover{
    transition:0.4s;
    transform: scale(1.1);
}